<section class="wrapper">
  <div class="indicator">
    <app-sidebar-indicator [currentStep]="currentStep"></app-sidebar-indicator>
  </div>

  <!-- 4 forms -->
  <!-- form 1 -->
  <div class="form-content">
    <app-steps-wrapper [currentStep]="currentStep">
      @if (currentStep === 1) {
      <app-personal-info
        [prefillData]="stepDatas[1]"
        (formValid)="stepValid(1, $event)"
        (formData)="stepData(1, $event)"
      />
      } @if (currentStep === 2) {
      <app-select-plan
        [prefillData]="stepDatas[2]"
        (formValid)="stepValid(2, $event)"
        (formData)="stepData(2, $event)"
      />
      }
    </app-steps-wrapper>

    <div class="buttons">
      <button
        class="btn-back btn"
        (click)="prevStep()"
        [disabled]="currentStep === 1"
      >
        Go Back
      </button>
      <button
        class="btn btn-next"
        (click)="nextStep()"
        [ngClass]="{ disabled: isNextDisabled() }"
      >
        {{ currentStep === 4 ? "Confirm" : "Next Step" }}
      </button>
    </div>
  </div>
</section>
