.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 52rem;
  margin-inline: auto;

  // need ot fix the styling for the form on the big screen

  @media (min-width: 500px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 7rem;
    padding-block: 1.5rem;
    border-radius: 1rem;
  }
}
