<section class="wrapper">
  <div class="indicator">
    <app-sidebar-indicator [currentStep]="currentStep"></app-sidebar-indicator>
  </div>

  <!-- 4 forms -->
  <!-- form 1 -->

  @if(currentStep === 1) {
  <app-personal-info
    (formValid)="stepValid(1, $event)"
    (formData)="stepData(1, $event)"
  ></app-personal-info>
  } @if(currentStep === 2) { phello }

  <button (click)="nextStep()" [disabled]="isNextDisabled()">
    {{ currentStep === 4 ? "Confirm" : "Next Step" }}
  </button>
  <button (click)="prevStep()" [disabled]="currentStep === 1">Go Back</button>
</section>
