.wrapper {
  margin-inline: 1rem;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 108px;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @media (min-width: 833px) {
    position: static;
    box-shadow: none;
    gap: 2rem;
    height: 464px;
    width: 480px;
  }
}
